h1{
	font-family: arial;
	color: #2F7E9F;
	font-size: 20px;
}

h1.title{
	margin-left: 50px;
	border: 20px #2F7E9F;
	text-transform: uppercase;
	border-style: solid;
	border-width: 3px 0 0 0;
	padding-top: 15px;
	width: 900px;
	margin: 50px 0 50px 100px;
	color: #2F7E9F;
	font-size: 20px;
}

.content{
	position: relative;
	font-family: arial;
}

.contact{
	display: inline-block;
	margin-left: 100px;
	float: left;
	height: 100%;
	color: #2F7E9F;

}

.main{
	border-style: none;
	border-width: 0 0 0 3px;
	border-color: #2F7E9F;
	display: inline-block;
	margin-left: 50px;
	height: 100%;
	width: 590px;
}

.main h1{
	margin-left: 0;
	text-transform: none;
	border-style: none;
}

.main h1{
	font-size: 20;
	color: #2F7E9F;
	font-size: 20px;
}

.section h1{
	
	color: #2F7E9F;
	font-weight: 550;
	font-size: 15px;
}

.job h1{
	color: #494C4E;
}

.main .section p{
	color: #494C4E;
	font-size: 15px;
}

.footer{
	position: relative;
	display: block;
	height: 400;
	border-style: solid;
	border-width: 3px 0 0 0;
	border-color: #2F7E9F;
}


